<div class="loginContainer">
    <div class="loginCard">
        <div class="leftSection">
            <form>
                <div class="title">
                    <h1>Bienvenido de vuelta</h1>
                </div>
                <input type="text" id="userInput" placeholder="username">
                <input type="password" id="passwordInput" placeholder="Password">
                <button id="sendButton" (click)="login()">Inicia sesión</button>
            </form>
        </div>
        <div class="rightSection">
            
        </div>
    </div>
</div>
